html {
    background: url(imagenes/ImagenMenuPrincipal.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#contenedor {
    width: 100%;
    height: auto;
    overflow: inherit;
}

#encabezado {
    position: absolute;
    width: 15em;
    height: 4em;
    font-family: 'Buxton Sketch';
    font-size: 4em;
    font-weight: normal;
    font-style: italic;
    word-spacing: 0em;
    letter-spacing: 0.2em;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}

#simon {
    background: url(imagenes/simon.png);
    background-size: contain;
    position: absolute;    
    width: 20em;
    height: 20em;
    border-radius: 6em;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 14em;
}
/*Se activa con onmouseover en el div simon*/
#jugar {
    position: absolute;
    background-color: red;
    height: 4em;
    width: 8em;
    color: black;
    margin-top: 35em;
    margin-bottom: auto;
    text-align: center;
    font-family:'Buxton Sketch';
    font-size: medium;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    display: none;
    border-radius: 100px / 50px;
}

#footer {
    position: absolute;
    bottom: 1em;
    width: 100%;
    height: 2em;
    text-align: center;
}
